html {
font-family: sans-serif; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; } body {
margin: 0; }  article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
display: block; } audio,
canvas,
progress,
video {
display: inline-block; vertical-align: baseline; } audio:not([controls]) {
display: none;
height: 0; } [hidden],
template {
display: none; }  a {
background-color: transparent; } a:active,
a:hover {
outline: 0; }  abbr[title] {
border-bottom: 1px dotted; } b,
strong {
font-weight: bold; } dfn {
font-style: italic; } h1 {
font-size: 2em;
margin: 0.67em 0; } mark {
background: #ff0;
color: #000; } small {
font-size: 80%; } sub,
sup {
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline; }
sup {
top: -0.5em; }
sub {
bottom: -0.25em; }  img {
border: 0; } svg:not(:root) {
overflow: hidden; }  figure {
margin: 1em 40px; } hr {
-webkit-box-sizing: content-box;
box-sizing: content-box;
height: 0; } pre {
overflow: auto; } code,
kbd,
pre,
samp {
font-family: monospace, monospace;
font-size: 1em; }   button,
input,
optgroup,
select,
textarea {
color: inherit; font: inherit; margin: 0; } button {
overflow: visible; } button,
select {
text-transform: none; } button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
-webkit-appearance: button; cursor: pointer; } button[disabled],
html input[disabled] {
cursor: default; } button::-moz-focus-inner,
input::-moz-focus-inner {
border: 0;
padding: 0; } input {
line-height: normal; } input[type="checkbox"],
input[type="radio"] {
-webkit-box-sizing: border-box;
box-sizing: border-box; padding: 0; } input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
height: auto; } input[type="search"] {
-webkit-appearance: textfield; -webkit-box-sizing: content-box;
box-sizing: content-box; } input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
-webkit-appearance: none; } fieldset {
border: 1px solid #c0c0c0;
margin: 0 2px;
padding: 0.35em 0.625em 0.75em; } legend {
border: 0; padding: 0; } textarea {
overflow: auto; } optgroup {
font-weight: bold; }  table {
border-collapse: collapse;
border-spacing: 0; }
td,
th {
padding: 0; }
.language ul, .slick-dots {
margin: 0;
padding: 0;
list-style: none; }
.clearfix:after {
content: '';
display: block;
clear: both; }
.ellipsis {
white-space: nowrap; -o-text-overflow: ellipsis;
text-overflow: ellipsis; overflow: hidden; }
html {
-webkit-box-sizing: border-box;
box-sizing: border-box; }
*, *:before, *:after {
-webkit-box-sizing: inherit;
box-sizing: inherit; }
* {
max-height: 1000000px; }
body {
color: #484948;
background: #fff;
font: 18px/1.6 "Inter", sans-serif;
min-width: 320px;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; }
img {
max-width: 100%;
height: auto;
vertical-align: top; }
.gm-style img {
max-width: none; }
@font-face {
font-family: 'Gilroy';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Gilroy-Regular.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Gilroy-Regular.woff) format("woff");
font-weight: normal;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Gilroy';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Gilroy-Bold.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Gilroy-Bold.woff) format("woff");
font-weight: bold;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Inter';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-Light.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-Light.woff) format("woff");
font-weight: 300;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Inter';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-Regular.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-Regular.woff) format("woff");
font-weight: normal;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Inter';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-Medium.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-Medium.woff) format("woff");
font-weight: 500;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Inter';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-Bold.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-Bold.woff) format("woff");
font-weight: bold;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Inter';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-SemiBold.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Inter-SemiBold.woff) format("woff");
font-weight: 600;
font-style: normal;
font-display: swap; }
section {
padding: 30px 0; }
@media (min-width: 768px) {
section {
padding: 50px 0; } }
p {
margin: 0 0 30px; }
p:only-child {
margin: 0; }
.eyebrow {
display: block;
color: #E036F8;
margin: 0; }
a {
color: #15191C;
text-decoration: none;
-webkit-transition: linear 0.2s;
-o-transition: linear 0.2s;
transition: linear 0.2s; }
a:hover, a:focus {
text-decoration: none; }
.primary {
color: #FA6D19;
font-weight: 600; }
.black {
font-weight: 600; }
.btn {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
font-size: 18px;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
line-height: 1.25;
text-transform: capitalize;
color: #fff;
text-align: center;
-webkit-box-shadow: none;
box-shadow: none;
outline: none;
border: none;
border-radius: 100px;
padding: 20px 30px;
-webkit-transition: linear 0.3s;
-o-transition: linear 0.3s;
transition: linear 0.3s;
background: -webkit-gradient(linear, left top, left bottom, color-stop(-23.29%, #007BB5), to(#38A7DE));
background: -webkit-linear-gradient(top, #007BB5 -23.29%, #38A7DE 100%);
background: -o-linear-gradient(top, #007BB5 -23.29%, #38A7DE 100%);
background: linear-gradient(180deg, #007BB5 -23.29%, #38A7DE 100%);
font-weight: 500;
position: relative;
text-align: center; }
@media (min-width: 768px) {
.btn {
display: -webkit-inline-box;
display: -ms-inline-flexbox;
display: inline-flex;
min-width: 193px;
padding: 24px 25px; } }
.btn:after {
display: inline-block;
vertical-align: middle;
background: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/images/arrow.svg) no-repeat;
width: 20px;
height: 12px;
margin-left: 5px;
content: ''; }
.hebrew .btn:after {
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
transform: scaleX(-1);
margin: 0 7px  0 0; }
.btn:hover {
-webkit-box-shadow: 0 0 20px rgba(127, 83, 172, 0.4);
box-shadow: 0 0 20px rgba(127, 83, 172, 0.4);
opacity: 0.8; }
.btn.btn-light {
color: #228B22;
background: #fff;
border: 1px solid #228B22;
padding: 11px 25px; }
@media (min-width: 1365px) {
.btn.btn-light {
padding: 17px 25px; } }
.btn.white:after {
background: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/images/arrow-black.svg) no-repeat; }
.btn img {
margin-left: 5px;
max-width: 20px;
display: block; }
.flex {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-flow: row wrap;
flex-flow: row wrap; }
.center {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center; }
.between {
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; }
.between-only {
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; }
.container {
max-width: 1353px;
margin: 0 auto;
padding: 15px 20px; }
@media (min-width: 768px) {
.container {
padding: 15px; } }
.wrapper {
position: relative;
overflow: hidden;
width: 100%; }
@media (max-width: 767px) {
.wrapper {
font-size: 16px; } }
#main {
padding-bottom: 50px; }
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
font-weight: 600;
margin: 0 0 15px;
color: #000;
line-height: 1.1;
font-family: "Gilroy", sans-serif; }
@media (min-width: 768px) {
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
margin: 0 0 25px; } }
h1,
.h1 {
font-size: 36px; }
@media (min-width: 1023px) {
h1,
.h1 {
font-size: 46px; } }
@media (min-width: 1365px) {
h1,
.h1 {
font-size: 56px; } }
h2,
.h2 {
font-size: 32px; }
@media (min-width: 1023px) {
h2,
.h2 {
font-size: 46px; } }
h3,
.h3 {
font-size: 24px; }
@media (min-width: 1023px) {
h3,
.h3 {
font-size: 34px; } }
form,
fieldset {
margin: 0;
padding: 0;
border-style: none; }
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
width: 100%;
-webkit-box-sizing: border-box;
box-sizing: border-box;
color: #fff;
height: 48px;
border-radius: 50px;
border: 1px solid #E1E1E1;
padding: 15px 30px;
color: #484948; }
@media (min-width: 768px) {
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'],
textarea {
height: 65px; } }
input[type='text']::-webkit-input-placeholder,
input[type='tel']::-webkit-input-placeholder,
input[type='email']::-webkit-input-placeholder,
input[type='search']::-webkit-input-placeholder,
input[type='password']::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
color: #484948; }
input[type='text']::-moz-placeholder,
input[type='tel']::-moz-placeholder,
input[type='email']::-moz-placeholder,
input[type='search']::-moz-placeholder,
input[type='password']::-moz-placeholder,
textarea::-moz-placeholder {
opacity: 1;
color: #484948; }
input[type='text']:-moz-placeholder,
input[type='tel']:-moz-placeholder,
input[type='email']:-moz-placeholder,
input[type='search']:-moz-placeholder,
input[type='password']:-moz-placeholder,
textarea:-moz-placeholder {
color: #484948; }
input[type='text']:-ms-input-placeholder,
input[type='tel']:-ms-input-placeholder,
input[type='email']:-ms-input-placeholder,
input[type='search']:-ms-input-placeholder,
input[type='password']:-ms-input-placeholder,
textarea:-ms-input-placeholder {
color: #484948; }
input[type='text'].placeholder,
input[type='tel'].placeholder,
input[type='email'].placeholder,
input[type='search'].placeholder,
input[type='password'].placeholder,
textarea.placeholder {
color: #484948; }
select {
-webkit-border-radius: 0; }
textarea {
resize: vertical;
vertical-align: top; }
button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
-webkit-appearance: none;
-webkit-border-radius: 0;
cursor: pointer; }
::-webkit-input-placeholder { opacity: 0.75; }
:-ms-input-placeholder { opacity: 0.75; }
::-ms-input-placeholder { opacity: 0.75; }
::placeholder { opacity: 0.75; }
:-ms-input-placeholder { opacity: 0.75; }
::-ms-input-placeholder { opacity: 0.75; }
@font-face {
font-family: 'Archivo';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Archivo-Medium.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Archivo-Medium.woff) format("woff");
font-weight: 500;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Archivo';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Archivo-Bold.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Archivo-Bold.woff) format("woff");
font-weight: bold;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Archivo';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Archivo-SemiBold.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Archivo-SemiBold.woff) format("woff");
font-weight: 600;
font-style: normal;
font-display: swap; }
@font-face {
font-family: 'Archivo';
src: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Archivo-Regular.woff2) format("woff2"), url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/fonts/Archivo-Regular.woff) format("woff");
font-weight: normal;
font-style: normal;
font-display: swap; }
.header {
font-size: 16px;
padding: 0 20px; }
@media (min-width: 1023px) {
.header {
padding: 0; } }
.header .container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
border-bottom: 1px solid #E1E1E1;
padding: 20px 15px; }
@media (min-width: 1023px) {
.header .container {
padding: 10px 15px; } }
.header .logo {
width: 103px;
-ms-flex-negative: 0;
flex-shrink: 0; }
@media (min-width: 1023px) {
.header .logo {
width: 152px; } }
.header .btn {
padding: 15px 18px;
min-width: 152px;
font-size: 16px; }
@media (min-width: 1023px) {
.user-area {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
max-width: 400px;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; } }
.user-area .login {
text-shadow: 0 2px 3px rgba(0, 0, 0, 0.3); }
.user-area .login, .user-area .btn {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
margin-bottom: 10px; }
@media (min-width: 1023px) {
.user-area .login, .user-area .btn {
margin-left: 15px;
margin-bottom: 0; } }
@media (min-width: 1600px) {
.user-area .login, .user-area .btn {
margin-left: 21px; } }
@media (min-width: 1023px) {
.hebrew .user-area .login, .hebrew .user-area .btn {
margin: 0 15px 0 0; } }
@media (min-width: 1600px) {
.hebrew .user-area .login, .hebrew .user-area .btn {
margin: 0 21px 0 0; } }
.language {
position: relative;
cursor: pointer;
margin-bottom: 20px; }
@media (min-width: 1023px) {
.language {
margin-bottom: 0; } }
.language:hover ul {
opacity: 1;
visibility: visible;
position: static; }
@media (min-width: 1023px) {
.language:hover ul {
position: absolute; } }
.language .selected {
position: relative;
display: block;
padding: 0 12px 0 20px; }
.hebrew .language .selected {
padding: 0 25px 0 15px; }
.language .selected:after, .language .selected:before {
position: absolute;
top: 50%;
-webkit-transform: translateY(-50%);
-ms-transform: translateY(-50%);
transform: translateY(-50%);
content: ''; }
.language .selected:before {
background: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/images/globe.svg) no-repeat;
width: 16px;
height: 16px;
left: 0; }
.language .selected:after {
border: solid #15191C;
border-width: 0 2px 2px 0;
-webkit-transform: rotate(45deg) translateY(-50%);
-ms-transform: rotate(45deg) translateY(-50%);
transform: rotate(45deg) translateY(-50%);
width: 8px;
height: 8px;
right: 0;
margin-top: -3px; }
.hebrew .language .selected:before {
left: auto;
right: 0; }
.hebrew .language .selected:after {
right: auto;
left: 0; }
.language ul {
position: absolute;
top: 100%;
left: 0;
background: #fff;
-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
border-radius: 5px;
padding: 8px;
visibility: hidden;
opacity: 0;
-webkit-transition: 0.3s linear;
-o-transition: 0.3s linear;
transition: 0.3s linear;
z-index: 99;
width: 100%; }
@media (min-width: 1023px) {
.language ul {
width: auto; } }
.language a {
padding: 8px 5px;
display: block;
color: #15191C;
border-radius: 50px;
margin-bottom: 2px; }
@media (min-width: 768px) {
.language a {
padding: 8px 20px; } }
.language a:hover {
background: #007BB5;
color: #fff; }
.nav-area {
position: fixed;
top: 0;
right: 0;
max-width: 320px;
bottom: 0;
overflow: auto;
background: #fff;
z-index: 99;
-webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
box-shadow: 0 0 30px rgba(0, 0, 0, 0.25);
-webkit-transform: translateX(110%);
-ms-transform: translateX(110%);
transform: translateX(110%);
-webkit-transition: 0.3s ease;
-o-transition: 0.3s ease;
transition: 0.3s ease;
padding: 30px; }
@media (min-width: 1023px) {
.nav-area {
padding: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
position: static;
-webkit-box-shadow: none;
box-shadow: none;
-webkit-transform: none;
-ms-transform: none;
transform: none;
overflow: visible;
max-width: 100%; } }
.nav-active .nav-area {
-webkit-transform: none;
-ms-transform: none;
transform: none; }
@media (min-width: 1023px) {
.menu {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1; } }
.menu ul {
list-style: none;
margin: 0;
padding: 0; }
@media (min-width: 1023px) {
.menu ul {
display: -webkit-box;
display: -ms-flexbox;
display: flex; } }
.menu li {
padding: 0 0 15px; }
@media (min-width: 1023px) {
.menu li {
padding: 0 0 0 20px; } }
@media (min-width: 1600px) {
.menu li {
padding: 0 13px 0 23px; } }
.menu li.active a {
color: #007BB5; }
.menu a {
-webkit-transition: all .22s;
-o-transition: all .22s;
transition: all .22s;
color: #484948; }
.menu a:hover {
color: #007BB5; }
.nav-opener {
position: absolute;
top: 19px;
right: 15px;
width: 44px;
height: 44px;
z-index: 999;
background: -webkit-gradient(linear, left top, left bottom, color-stop(-23.29%, #007BB5), to(#38A7DE));
background: -webkit-linear-gradient(top, #007BB5 -23.29%, #38A7DE 100%);
background: -o-linear-gradient(top, #007BB5 -23.29%, #38A7DE 100%);
background: linear-gradient(180deg, #007BB5 -23.29%, #38A7DE 100%);
border-radius: 100%; }
@media (min-width: 1023px) {
.nav-opener {
display: none; } }
.hebrew .nav-opener {
right: auto;
left: 15px; }
.nav-active .nav-opener {
position: fixed; }
.nav-opener:before, .nav-opener:after,
.nav-opener span {
background: #fff;
border-radius: 4px;
position: absolute;
top: 52%;
left: 26%;
right: 26%;
height: 3px;
margin-top: -2px;
-webkit-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear; }
.nav-opener:before, .nav-opener:after {
content: '';
top: 38%; }
.nav-opener:after {
top: 67%; }
.nav-active .nav-opener span {
opacity: 0; }
.nav-active .nav-opener:after, .nav-active .nav-opener:before {
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
top: 50%;
left: 30%;
right: 30%; }
.nav-active .nav-opener:after {
-webkit-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
transform: rotate(-45deg); }
.nav-active .nav-opener:hover {
opacity: .9; }
html {
scroll-behavior: smooth; }
.visual-section {
padding: 30px 0 0;
text-align: center; }
@media (min-width: 768px) {
.visual-section {
padding: 86px 0 0; } }
.visual-section .visual-img {
pointer-events: none;
margin-top: -50px; }
@media (min-width: 1023px) {
.visual-section .visual-img {
margin-top: -154px; } }
.visual-section .visual-img img {
min-width: 1000px;
margin: 0 0 0 -160px; }
@media (min-width: 1023px) {
.visual-section .visual-img img {
margin: 0;
width: 100%; } }
.hebrew .visual-section .visual-img img {
min-width: 1000px;
margin: 0 -160px 0 0; }
@media (min-width: 1023px) {
.hebrew .visual-section .visual-img img {
margin: 0;
width: 100%; } }
.visual-section .heading {
position: relative;
z-index: 1; }
.visual-section h1 {
max-width: 800px;
text-align: center;
margin: 0 auto 30px;
font-weight: 400; }
.company-section {
text-align: center;
padding-bottom: 0; }
@media (min-width: 1023px) {
.company-section {
padding: 94px 0; } }
@media (min-width: 1023px) {
.company-section .container {
border-bottom: 1px solid #E1E1E1; } }
@media (max-width: 767px) {
.company-section .h3 {
font-size: 14px; } }
.company-section .image {
margin-top: 30px; }
@media (min-width: 1023px) {
.company-section .image img {
max-width: 187px;
display: inline-block; } }
@media (min-width: 1365px) {
.company-section .image img {
max-width: 244px; } }
.title-head {
display: block;
text-transform: uppercase; }
.about-section {
position: relative;
overflow: hidden; }
.about-section .container {
position: relative; }
@media (min-width: 1023px) {
.about-section .container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: end;
-ms-flex-align: end;
align-items: flex-end;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
padding-bottom: 0; } }
.about-section .tex-area {
position: relative;
z-index: 1;
margin: 0 0 40px; }
@media (min-width: 1023px) {
.about-section .tex-area {
width: 51%;
margin: 0; } }
.about-section .about-image {
margin-top: -140px; }
@media (min-width: 1023px) {
.about-section .about-image {
width: 49%;
margin: 0; } }
.about-section .img-wrap {
margin-right: -250px;
margin-left: -350px; }
@media (min-width: 1023px) {
.about-section .img-wrap {
margin-right: -200px;
margin-left: -200px; } }
@media (min-width: 1600px) {
.about-section .img-wrap {
margin-right: -250px;
margin-left: -200px; } }
.hebrew .about-section .img-wrap {
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
transform: scaleX(-1);
margin-left: -250px;
margin-right: -350px; }
@media (min-width: 1023px) {
.hebrew .about-section .img-wrap {
margin-left: -200px;
margin-right: -200px; } }
@media (min-width: 1600px) {
.hebrew .about-section .img-wrap {
margin-left: -250px;
margin-right: -200px; } }
.services-section {
padding-top: 0;
position: relative;
z-index: 1; }
@media (min-width: 1023px) {
.services-section {
padding-top: 50px; } }
@media (min-width: 1600px) {
.services-section {
padding-top: 100px; } }
.services-section .container .primary {
max-width: 804px;
margin: 0 auto;
display: inline-block; }
.services-section .heading {
max-width: 864px;
text-align: center;
margin: 0 auto; }
@media (min-width: 1023px) {
.services-section .cards {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; } }
.services-section .cards .card {
background: #fff;
text-align: center;
margin: 0 0 20px;
padding: 20px 30px 30px;
border-radius: 14px;
border-bottom: 5px solid #007BB5;
font-size: 16px; }
@media (min-width: 1023px) {
.services-section .cards .card {
width: 32%;
text-align: left;
margin: 0;
margin: 0 0 29px; } }
@media (min-width: 1023px) {
.hebrew .services-section .cards .card {
text-align: right; } }
.services-section .cards .card h3 {
font-size: 32px;
margin-bottom: 20px; }
.services-section .cards .cardimage {
margin-bottom: 31px; }
.hebrew .services-section .cards .cardimage {
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
transform: scaleX(-1); }
@media (min-width: 768px) {
.hebrew .services-section .cards .cardimage {
text-align: left; } }
.services-section h2 {
margin: 0 0 46px; }
.services-section p {
margin: 0; }
.transport-section {
margin-bottom: 40px;
position: relative; }
@media (min-width: 1023px) {
.transport-section {
margin-bottom: 100px;
line-height: 1.8; } }
.transport-section:before {
background: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/images/bg-partners.png) no-repeat;
background-size: 100% 100%;
position: absolute;
top: -700px;
left: 0;
right: 0;
content: '';
bottom: 0;
pointer-events: none; }
.transport-section .container {
position: relative;
z-index: 2; }
@media (min-width: 1023px) {
.transport-section .container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: end;
-ms-flex-align: end;
align-items: flex-end;
padding-top: 103px; } }
.transport-section h2 {
margin: 0 0 18px; }
.transport-section p {
margin: 0 0 12px; }
@media (min-width: 1023px) {
.transport-section .image {
width: 55%; } }
.hebrew .transport-section .image {
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
transform: scaleX(-1); }
@media (min-width: 1023px) {
.transport-section .text-area {
max-width: 41%; } }
.transport-section .btn {
margin-top: 20px; }
.logos-holder {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; }
.question-section {
color: #fff;
padding: 0 20px; }
@media (min-width: 1023px) {
.question-section {
padding: 0;
margin: 0 0 80px; } }
.question-section .container {
text-align: center;
border-radius: 20px;
padding: 30px;
background: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/images/bg-questions.png) no-repeat;
background-size: cover;
overflow: hidden; }
@media (min-width: 1023px) {
.question-section .container {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
padding: 55px 64px;
text-align: left; } }
.question-section .detail {
max-width: 562px; }
.question-section h2 {
color: #fff;
margin: 0 0 15px; }
@media (min-width: 1023px) {
.question-section p {
padding-right: 70px;
margin: 0; } }
.feature-section {
text-align: center;
position: relative; }
.feature-section:before {
position: absolute;
bottom: 0;
left: 0;
right: 0;
content: '';
background: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/images/ground.png) no-repeat;
background-size: cover;
height: 300px; }
.twocols {
text-align: left;
padding-top: 60px;
max-width: 1250px;
padding-bottom: 60px;
margin: 0 auto;
position: relative;
z-index: 1; }
@media (min-width: 1023px) {
.twocols {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; } }
.twocols .image {
width: 100%; }
@media (min-width: 1023px) {
.twocols .image {
width: 45%;
-webkit-box-ordinal-group: 2;
-ms-flex-order: 1;
order: 1; } }
.hebrew .twocols .image {
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
transform: scaleX(-1); }
.twocols .slide-area {
width: 100%;
margin: 0 0 50px; }
@media (min-width: 1023px) {
.twocols .slide-area {
width: 55%;
-webkit-box-ordinal-group: 3;
-ms-flex-order: 2;
order: 2;
margin: 0; } }
@media (min-width: 1600px) {
.hebrew .twocols .slide-area {
width: 50%; } }
.section-marquee {
overflow: hidden;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; }
.section-marquee ul {
margin: 0;
padding: 0;
list-style: none;
-ms-flex-negative: 0;
flex-shrink: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
min-width: 100%;
-webkit-animation: scroll-x 13s linear infinite;
animation: scroll-x 13s linear infinite;
list-style: none; }
@media (min-width: 768px) {
.section-marquee ul {
-webkit-animation: none;
animation: none;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
min-width: 100%; } }
@media (min-width: 768px) {
.section-marquee ul + ul {
display: none; } }
.section-marquee ul li {
padding: 3px; }
@media (min-width: 768px) {
.section-marquee ul li {
padding: 6px 0 45px; } }
.section-marquee ul img {
max-width: 70%; }
@media (min-width: 768px) {
.section-marquee ul img {
max-width: 100%; } }
.section-marquee .reverse ul {
animation-direction: reverse; }
@-webkit-keyframes scroll-x {
from {
-webkit-transform: translateX(0);
transform: translateX(0); }
to {
-webkit-transform: translateX(calc(-100% - 2rem));
transform: translateX(calc(-100% - 2rem)); } }
@keyframes scroll-x {
from {
-webkit-transform: translateX(0);
transform: translateX(0); }
to {
-webkit-transform: translateX(calc(-100% - 2rem));
transform: translateX(calc(-100% - 2rem)); } }
.social {
list-style: none;
padding: 0;
margin: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center; }
.social li {
margin: 0 10px 0 0; }
.social a:hover {
opacity: 0.7; }
@media (min-width: 768px) {
.testimonials {
padding-bottom: 190px; } }
@media (min-width: 768px) {
.testimonials .container {
padding-bottom: 40px;
padding-top: 40px; } }
.testimonials .heading {
position: relative;
text-align: center; }
@media (min-width: 768px) {
.testimonials .heading {
padding-right: 120px;
text-align: left; } }
@media (min-width: 768px) {
.hebrew .testimonials .heading {
text-align: right;
padding: 0 0 0 120px; } }
.testimonials .heading .btn {
display: none; }
@media (min-width: 768px) {
.testimonials .heading .btn {
position: absolute;
top: 0;
right: 0;
display: -webkit-box;
display: -ms-flexbox;
display: flex; } }
@media (min-width: 768px) {
.hebrew .testimonials .heading .btn {
right: auto;
left: 0; } }
.testimonials .profile {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center; }
.testimonials .img {
margin-right: 15px;
width: 60px;
-ms-flex-negative: 0;
flex-shrink: 0; }
.hebrew .testimonials .img {
margin: 0 0 0 15px; }
.testimonials .img img {
width: 60px;
height: 60px;
border-radius: 100%; }
.testimonials .name,
.testimonials .designation {
color: #15191C;
font-weight: 600;
display: block;
text-align: left; }
.hebrew .testimonials .name, .hebrew
.testimonials .designation {
text-align: right; }
.testimonials .designation {
opacity: 0.3;
font-weight: 400; }
.testimonials .cards-slider {
padding-bottom: 60px; }
@media (min-width: 1023px) {
.testimonials .cards-slider {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
padding-bottom: 30px; } }
@media (min-width: 1023px) {
.testimonials .cards-slider .slide {
padding: 0 20px; } }
.testimonials .cards-slider .card {
background: #fff;
text-align: center;
margin: 0 0 20px;
padding: 20px 30px;
border-radius: 14px;
border-bottom: 3px solid #007BB5;
-webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
min-height: 260px; }
@media (min-width: 1023px) {
.testimonials .cards-slider .card {
text-align: left;
margin: 0;
padding: 30px; } }
.testimonials .cards-slider .card h3 {
font-size: 32px;
margin-bottom: 15px; }
.testimonials .cards-slider .card p {
margin: 0 0 50px; }
@media (min-width: 1600px) {
.testimonials .cards-slider .card p {
max-width: 75%; } }
.slick-dots {
position: absolute;
bottom: 15px;
left: 50%;
-webkit-transform: translateX(-50%);
-ms-transform: translateX(-50%);
transform: translateX(-50%);
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center; }
@media (min-width: 1023px) {
.slick-dots {
bottom: -50px; } }
.slick-dots li {
margin: 0 5px;
width: 18px;
height: 18px;
border-radius: 100%;
border: 2px solid #fff;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center; }
.slick-dots li button {
padding: 0;
background: #DBDBDB;
border: none;
width: 11px;
height: 11px;
border-radius: 100%;
text-indent: -9999px;
overflow: hidden;
display: block;
position: relative; }
.slick-dots li.slick-active {
border-color: #007BB5; }
.slick-dots li.slick-active button {
background: #007BB5; } .slick-slider {
position: relative;
display: block;
-webkit-box-sizing: border-box;
box-sizing: border-box;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
-ms-touch-action: pan-y;
touch-action: pan-y;
-webkit-tap-highlight-color: transparent; }
.slick-list {
position: relative;
overflow: hidden;
display: block;
margin: 0;
padding: 0; }
.slick-list:focus {
outline: none; }
.slick-list.dragging {
cursor: pointer;
cursor: hand; }
.slick-slider .slick-track,
.slick-slider .slick-list {
-webkit-transform: translate3d(0, 0, 0);
-moz-transform: translate3d(0, 0, 0);
-ms-transform: translate3d(0, 0, 0);
-o-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0); }
.slick-track {
position: relative;
left: 0;
top: 0;
display: block; }
.slick-track:before, .slick-track:after {
content: "";
display: table; }
.slick-track:after {
clear: both; }
.slick-loading .slick-track {
visibility: hidden; }
.slick-slide {
float: left;
height: 100%;
min-height: 1px;
display: none; }
[dir="rtl"] .slick-slide {
float: left; }
.slick-slide img {
display: block; }
.slick-slide.slick-loading img {
display: none; }
.slick-slide.dragging img {
pointer-events: none; }
.slick-initialized .slick-slide {
display: block; }
.slick-loading .slick-slide {
visibility: hidden; }
.slick-vertical .slick-slide {
display: block;
height: auto;
border: 1px solid transparent; }
.slick-arrow.slick-hidden {
display: none; }
.feedback-list {
position: relative;
z-index: 9;
margin-bottom: 50px; }
.feedback-list .number {
position: absolute;
top: 3px;
left: 38px;
color: black;
-webkit-text-fill-color: white; -webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #4C4C4C;
font-family: 'Sora', sans-serif;
font-size: 24px;
line-height: 1; }
.feedback-list .slick-track {
width: 100% !important; }
.feedback-list .item-slide {
padding: 0 0 0 90px;
position: relative;
display: inline-block !important;
white-space: normal;
width: 100% !important;
left: 0 !important;
width: auto !important;
opacity: 1 !important;
z-index: 9999;
cursor: pointer;
float: none;
margin: 0; }
.feedback-list .item-slide:after {
position: absolute;
top: 0;
left: 2px;
bottom: 0;
width: 3px;
content: '';
background: #D7D7D7;
border-radius: 5px; }
.feedback-list .item-slide:before {
position: absolute;
top: 0;
left: 1px;
bottom: 0;
width: 5px;
border-radius: 5px;
background: #35A5DD;
content: '';
opacity: 0;
-webkit-transition: 0.2s linear;
-o-transition: 0.2s linear;
transition: 0.2s linear;
z-index: 1; }
.feedback-list .item-slide.slick-current:before {
opacity: 1; }
.feedback-list .item-slide.slick-current .number {
color: #007BB5;
-webkit-text-fill-color: #007BB5;
-webkit-text-stroke-width: 0;
-webkit-text-stroke-color: black; }
.feedback-list .item-slide.slick-current p {
display: block; }
.feedback-list .item-slide.slick-current h4 {
color: #007BB5;
margin: 0 0 20px; }
@media (min-width: 1023px) {
.feedback-list .item-slide.slick-current h4 {
margin: 0 0 35px; } }
.feedback-list .item-slide p {
display: none;
-webkit-transition: 0.5s linear all;
-o-transition: 0.5s linear all;
transition: 0.5s linear all; }
.feedback-list .item-slide h4 {
font-size: 20px;
line-height: 24px;
font-weight: 600;
color: #202223;
display: block; }
@media (min-width: 1023px) {
.feedback-list .item-slide h4 {
font-size: 26px;
line-height: 30px; } }
.feedback-list .item-slide h4:hover {
text-decoration: none; }
.feedback-list .item-slide.active a, .feedback-list .item-slide.slick-current a {
color: #5761CD; }
.feedback-list .item-slide.active:before, .feedback-list .item-slide.slick-current:before {
opacity: 1;
visibility: visible; }
.feedback-list .item-slide.active .slide, .feedback-list .item-slide.slick-current .slide {
display: block; }
.join-section {
margin-bottom: 80px;
padding: 0 15px; }
.join-section .container {
background: #00305D;
padding: 30px;
border-radius: 20px;
color: #fff; }
@media (min-width: 768px) {
.join-section .container {
padding: 70px 40px;
background: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/images/bg-join.png) no-repeat;
background-size: cover; } }
.join-section .text-holder {
max-width: 864px;
margin: 0 auto;
text-align: center; }
@media (min-width: 768px) {
.join-section .text-holder p {
padding: 0 20px; } }
.join-section h2 {
color: #fff; }
.join-section .btn.white {
background: #fff;
color: #484948; }
.modal-active {
overflow: hidden; }
.modal-active .modal {
visibility: visible;
opacity: 1; }
.modal {
background: rgba(0, 0, 0, 0.65);
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
overflow: auto;
z-index: 999;
opacity: 0;
visibility: hidden;
-webkit-transition: 0.4s linear;
-o-transition: 0.4s linear;
transition: 0.4s linear;
padding: 15px; }
.modal .modal-register {
background: #fff;
border-radius: 12px;
max-width: 1320px;
margin: 50px auto;
overflow: hidden; }
.modal h2 {
text-align: center;
margin: 0 0 60px; }
.modal .cols {
position: relative; }
@media (min-width: 1023px) {
.modal .cols {
display: -webkit-box;
display: -ms-flexbox;
display: flex; } }
.modal .col {
padding: 70px 20px; }
@media (min-width: 768px) {
.modal .col {
padding: 70px 50px; } }
@media (min-width: 1023px) {
.modal .col {
width: 50%; } }
.modal .col:only-child {
width: 100%; }
.modal .col:first-child {
padding: 0; }
.modal .col .image {
display: none; }
@media (min-width: 1023px) {
.modal .col .image {
display: block; } }
.hebrew .modal .col .image {
-webkit-transform: scaleX(-1);
-ms-transform: scaleX(-1);
transform: scaleX(-1); }
@media (min-width: 1023px) {
.modal .col .image img {
height: auto;
width: 100%; } }
@media (min-width: 768px) {
.modal .input-holder {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; } }
.modal .input {
margin: 0 0 15px; }
@media (min-width: 768px) {
.modal .input {
width: 48.5%;
margin: 0 0 20px; } }
.modal .input:only-child {
width: 100%; }
.modal .btn {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: 100%; }
.modal .modal-close {
position: absolute;
top: 15px;
right: 5px;
width: 40px; }
@media (min-width: 768px) {
.modal .modal-close {
top: 30px;
right: 30px; } }
.hebrew .modal .modal-close {
left: 5px; }
@media (min-width: 768px) {
.hebrew .modal .modal-close {
left: 30px;
right: auto; } }
.modal .info {
text-align: center;
padding-top: 30px; }
.modal .info a {
font-weight: 700;
color: #15191C; } .check-holder {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none; }
.hebrew .check-holder {
padding: 0 35px 0 0; } .check-holder input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0; } .checkmark {
position: absolute;
top: 0;
left: 0;
height: 25px;
width: 25px;
border: 2px solid #eee;
border-radius: 5px; }
.hebrew .checkmark {
left: auto;
right: 0; } .check-holder:hover input ~ .checkmark {
background-color: #ccc; } .check-holder input:checked ~ .checkmark {
background-color: #2196F3; } .checkmark:after {
content: "";
position: absolute;
display: none; } .check-holder input:checked ~ .checkmark:after {
display: block; } .check-holder .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid white;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }
.hebrew {
direction: rtl; }
@media (min-width: 1023px) {
.hebrew .visual-section h1 {
font-size: 64px; } }
.footer {
background: url(//aniway.dolphinsolutions.ca/wp-content/themes/aniway/images/footer-bg.png) no-repeat 0 0;
background-size: cover;
padding: 0 15px; }
.footer .container {
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
border-top: 1px solid rgba(21, 25, 28, 0.1);
padding-top: 50px; }
@media (min-width: 1023px) {
.footer .container {
padding-top: 90px;
padding-bottom: 70px;
display: -webkit-box;
display: -ms-flexbox;
display: flex; } }
.footer .title {
display: block;
margin: 0 0 30px;
font-weight: 600;
text-transform: uppercase; }
@media (min-width: 768px) {
.footer .title {
font-size: 20px; } }
.footer .logo {
margin: 0 auto 30px;
width: 192px; }
@media (min-width: 1023px) {
.footer .logo {
margin: 0 0 30px; } }
.footer .logo img {
width: 100%;
display: block;
height: auto; }
.footer .footer-info {
-ms-flex-negative: 0;
flex-shrink: 0;
width: 195px;
margin: 0 auto 40px;
text-align: center; }
@media (min-width: 768px) {
.footer .footer-info {
margin: 0 0 40px;
text-align: left; } }
@media (min-width: 1023px) {
.footer .footer-info {
margin: 0; } }
.footer .footer-info.mobile {
display: block; }
@media (min-width: 768px) {
.footer .footer-info.mobile {
display: none; } }
.footer .desktop {
display: none; }
@media (min-width: 768px) {
.footer .desktop {
display: block; } }
@media (min-width: 768px) {
.hebrew .footer .desktop {
text-align: right; } }
@media (min-width: 768px) {
.footer .footer-content {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: horizontal;
-webkit-box-direction: normal;
-ms-flex-flow: row wrap;
flex-flow: row wrap;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between;
width: 100%; } }
@media (min-width: 1023px) {
.footer .footer-content {
width: 60%; } }
.footer .footer-content ul {
list-style: none;
padding: 0;
margin: 0; }
.footer .footer-content li {
margin-bottom: 15px; }
.footer .footer-content a:hover {
color: #007BB5; }
.footer address {
font-style: normal;
display: block; }
.footer .opener {
display: block;
position: relative;
padding-right: 20px; }
@media (min-width: 768px) {
.footer .opener {
pointer-events: none; } }
@media (min-width: 768px) {
.hebrew .footer .opener {
padding: 0 0 0 20px; } }
.footer .opener:after {
position: absolute;
right: 0;
top: 7px;
content: '';
border: solid #000;
border-width: 0 2px 2px 0;
width: 10px;
height: 10px;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg); }
@media (min-width: 768px) {
.footer .opener:after {
display: none; } }
.footer .active .opener:after {
-webkit-transform: rotate(-135deg);
-ms-transform: rotate(-135deg);
transform: rotate(-135deg); }
.footer .copyright {
padding: 20px;
text-align: center; }
@media (min-width: 768px) {
.footer .copyright {
text-align: left; } }
.footer .copyright .holder {
background: #fff;
max-width: 1326px;
margin: 0 auto 20px;
border-radius: 10px;
padding: 10px 15px; }
@media (min-width: 768px) {
.footer .copyright .holder {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: justify;
-ms-flex-pack: justify;
justify-content: space-between; } }
.footer .copyright p {
margin: 0 0 10px; }
@media (min-width: 768px) {
.footer .copyright p {
margin: 0; } }
.footer .language {
display: inline-block;
vertical-align: top; }
.footer .language ul {
position: absolute;
top: auto;
bottom: 100%; }
@media (max-width: 767px) {
.footer .social {
margin: 0 5px; } }
@media (min-width: 768px) {
.footer .js-acc-hidden {
position: static !important;
display: block !important; } }